.gallery {
    -moz-column-width: 13em;
    -webkit-column-width: 13em;
}

.gallery_item {
    position: relative;
    display: inline-block;
    width: 250px;
}

.gallery_item p {
    font-family: Baskerville, "Times New Roman", serif;
    text-align: center;
    font-size: 14px;
    line-height: 1.3;
    margin-top: 0px;
}

.gallery_thumb {
    max-width: 250px;
}

.sandbox {
	position: absolute;
	top: 0px;
	z-index: 2;
	background-color: red;
    opacity:0;
    transition:opacity 0.5s ease-in;
}

.sandbox:hover {
    opacity:1;
}